<%= form_with url: note.persisted? ? recipe_note_path(recipe) : recipe_note_path(recipe),
              method: note.persisted? ? :patch : :post,
              scope: :note,
              local: true do |f| %>

  <div class="mb-2">
    <%= f.text_area :content,
          rows: 3,
          class: "form-control",
          placeholder: "Write your personal note..." %>
  </div>

  <%= f.submit note.persisted? ? "Update Note" : "Save Note",
        class: "btn btn-sm btn-primary rounded-pill" %>
<% end %>
