<div class="d-flex flex-column" id="empty-cookbook">
  <h2 class="mt-5 mb-5">Your Cookbook is empty</h2>
  <p>Like some recipes to store them in your cookbook</p>
</div>
<!-- Ensure the recipe-cards div exists even when empty -->
<div class="cards mt-5" id="recipe-cards"></div>
