<%= render "shared/banner" %>

<div class="container-cookbook">
  <h3 class="mt-5 mb-5" style="letter-spacing: 0.1rem;">My Cookbook</h3>
  <div class="cards">
    <% if @favorite_recipes.empty? %>
      <h2>Your Cookbook is empty</h2>
      <p>Like some recipes to store them in your cookbook</p>
    <% else %>
      <% @favorite_recipes.each do |recipe| %>
      <%= render partial: "shared/cookbook_card", locals: { recipe: recipe } %>
    <% end %>
  <% end %>
  </div>
  </div>
</div>

<!-- Render Modals -->
<% if @favorite_recipes.present? %>
  <% @favorite_recipes.each do |recipe| %>
    <%= render "shared/modal", recipe: recipe %>
  <% end %>
<% end %>
