<div class="card-resize">
  <div class="card-category" style="background-color: #de6f2e;">
    <div class="photo mt-4 mb-1">
      <a href="#">
        <%= image_tag("Pasta_byHand.jpg", gravity: "auto", height: 240, width: 280, crop: "auto", class: "img-fluid justify-content-center") %>
      </a>
    </div>
    <div class="content d-flex py-1">
      <h4 class="lato-bold">THIS IS A RECIPE</h4>
      <div class="icons">
        <i class="fa-regular fa-heart"></i>
        <i class="fa-regular fa-bookmark"></i>
        <i class="fa-solid fa-share-from-square"></i>
      </div>
    </div>
  </div>
</div>
