<div class="cards">
  <div class="card-resize">
    <div class="card-category">
      <div class="photo">
        <i class="fa-regular fa-heart favorite-icon"></i>
        <a href="#">
          <%= image_tag("Pasta_byHand.jpg", gravity: "auto", width: 298, height: 220, class: "img-fluid justify-content-center") %>
        </a>
      </div>
      <div class="content d-flex justify-content-start align-items-center">
        <h4 class="card-title">This is a recipe</h4>
      </div>
    </div>
  </div>
</div>
