<div class="info_box" style="background-color: green">
  <div style="color: light-gray">

    <div style="display: flex">
      <i class="fas fa-clock"></i>
      <p style="margin-left: 5px;">15 min</p>
    </div>

    <div style="display: flex">
      <i class="fas fa-leaf"></i>
      <p style="margin-left: 5px;"><%= @recipe.cuisine_type %></p>
    </div>

    <div style="display: flex">
      <i class="fas fa-globe"></i>
      <p style="margin-left: 5px;"><%= @recipe.dietary_restrictions %></p>
    </div>
  </div>
</div>
