<div class="info_box" style="background-color: green">
  <div style="color: light-gray">
    
    <h2><i class="far fa-clock"></i>
    <% if (@recipe) %>
      <p><%= @recipe.cook_time %></p>
    <% end %>
    </h2>


    <h2><i class="fas fa-leaf"></i></h2>
        <% if (@recipe) %>
      <p><%= @recipe.cuisine_type %></p>
    <% end %>

    <i class="fas fa-globe"></i></h2>
            <% if (@recipe) %>
      <p><%= @recipe.dietary_restrictions %></p>
    <% end %>
  </div>
</div>
