<div class="info_box" style="background-color: green">
  <div style="color: light-gray">
    <h2><i class="far fa-clock"></i> time</h2>
    <h2><i class="fas fa-leaf"></i> cuisine type</h2>
    <h2><i class="fas fa-globe"></i> dietary restrictions</h2>
  </div>
</div>
