<div class="info_box col-6">
  <div>

    <div class="info-items d-flex justify-content-start align-items-center">
      <i class="fas fa-clock"></i>
      <p class="px-2"><%= @recipe.cook_time %></p>
      <i class="fas fa-leaf"></i>
      <p class="px-2"><%= @recipe.cuisine_type %></p>
      <i class="fas fa-globe"></i>
      <p class="px-2"><%= @recipe.dietary_restrictions %></p>
    </div>

  </div>
</div>
