<div class="text mt-3 px-4 py-3 d-flex flex-column" style="background-color:rgba(99, 140, 109, 0.74); font-size: 15px; border-radius: 15px;">

  <div class="d-flex justify-content-between" style="color: white">
    <p style="color: white; font-size: 16px;"><strong>This recipe is amazing!</strong></p>
    <div class="stars" style="font-size: 14px">
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
    </div>
  </div>

  <p style="color: white; font-size: 14px">I loved the recipe. An absolute revelation</p>
  <p style="color: white; font-size: 12px">- An Anonymous User</p>
</div>
