<%= render "shared/banner" %>

<div class="container-fluid">

    <h4 class="mt-4 mb-1" style="letter-spacing: 0.1rem;">FEATURED RECIPES</h4>
    <div class="cards">


      <turbo-frame id="recipes">
        <%= render partial: "shared/recipes", locals: { recipes: @recipes } %>
      </turbo-frame>

    </div>

    <h4 class="mt-4 mb-1" style="letter-spacing: 0.1rem;">FEATURED EXPERIENCES</h4>
    <div class="cards">

        <% @recipes.each do |recipe| %>
          <%= render partial: "shared/card", locals: { recipe: recipe } %>
        <% end %>

      </div>
    </div>

  </div>
<% @recipes.each do |recipe| %>
  <%= render partial: "shared/modal", locals: { recipe: recipe } %>
<% end %>

</div>
