<%= render "shared/banner" %>


<div class="container-fluid">

    <h4 class="mt-5 mb-5" style="letter-spacing: 0.1rem;">FEATURED RECIPES</h4>
    <div class="cards">

        <% @recipes.each do |recipe| %>
          <%= render partial: "shared/card", locals: { recipe: recipe } %>
        <% end %>

    </div>

    <h4 class="mt-5 mb-5" style="letter-spacing: 0.1rem;">FEATURED EXPERIENCES</h4>
    <div class="cards">

        <% @recipes.each do |recipe| %>
          <%= render partial: "shared/card", locals: { recipe: recipe } %>
        <% end %>

    </div>

</div>
