<%= render "shared/banner" %>


<div class="container-fluid">
  <div class="row">
    <h4 class="mt-4 mb-1 lato-bold">FEATURED RECIPES</h4>

      <div class="d-flex">
        <% @recipes.each do |recipe| %>
          <%= render partial: "shared/card", locals: { recipe: recipe } %>
        <% end %>
      </div>

    </div>
  </div>

  <div class="row">
    <h4 class="mt-4 mb-1 lato-bold">FEATURED EXPERIENCES</h4>
    <div class="cards">

    </div>
  </div>

</div>
