.banner-show {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100vw;
  max-height: 40vh;
  overflow-x: hidden;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-content: center;
  overflow: hidden;

  img {
    margin-top: 45px;
    margin-left: 100px;
  }

  .nav-items {
    color: rgba(255, 255, 255, 0.669);
    align-items: center;
    font-size: 25px;
    margin-top: 190px;
    margin-right: 50px;

    i {
      padding: 15px 15px 0 15px;

      &:hover {
        transform: scale(1.1);
        color: rgba(255, 255, 255, 1);
      }
    }

    img {
      margin-bottom: 45px;
      margin-left: 15px;
    }
  }

  .recipe-title-red {
    color: white;
    font-weight: 700;
    padding-left: 100px;

    a {
      text-decoration: none;
      color: white;
    }
  }
}
