.banner-show-creator {
  position: sticky;
  top: 0;
  z-index: 100;
  max-width: 100vw;
  max-height: 45vh;
  overflow-x: hidden;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-content: center;
  overflow: hidden;

  img.Hero {
    max-width: 100%;
    height: 100px;
    margin-top: 40px;
  }

  .nav-items {
    color: rgba(255, 255, 255, 0.669);
    align-items: flex-end;
    font-size: 25px;
    padding: 20px 0px 20px 0px;
    margin-right: 25px;

    i {
      padding: 15px;

      &:hover {
        transform: scale(1.1);
        color: rgba(255, 255, 255, 1);
      }
    }

    img {
      padding-bottom: 15px;
    }
  }

  .recipe-title-red {
    color: white;
    font-weight: 700;
  }

  a {
    text-decoration: none;
  }
}
