.info_box {
  background-color: #2D593B;
  color: lightgray;
  box-shadow: -10px -10px #638C6D;
  border-radius: 15px;
  padding: 10px;
  width: fit-content;
  margin-top: 20px;
  display: inline-block; /* Ensures it only expands as needed */
  margin-bottom: 20px;

  h2 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: lightgray;
  }

  i, p {
    color: #EDF4C2;
    margin-bottom: 10px;
  }
}

.info_box-slider {
  display: flex;
  flex-direction: column;
  background-color: #2D593B;
  color: lightgray;
  box-shadow: -10px -10px #638C6D;
  border-radius: 15px;
  padding: 10px;
  width: fit-content; /* Make it only as wide as necessary */
  max-width: 100%; /* Prevents overflow */

  h2 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: lightgray;
  }

  i, p {
    color: #EDF4C2;
    margin-bottom: 10px;
  }
}
